a {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.movie-card {
  width: 14rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: .5rem;
  border: .5pt solid white;
}

.movie-card:hover {
  transition: all .75s;
  transform: scale(1.2);
  box-shadow: 0 0 0 99999px rgba(0, 0, 0, .5);
}

.poster {
  width: 12.4rem;
  height: 18.5rem;
  padding-top: .5rem;
}

.movie-title {
  border-bottom: 2pt solid white;
}

.movie-specs {
  width: 13vw;
  align-content: flex-start;
  padding-bottom: 5%;
}

.movie-release,
.movie-rating {
  margin: 0;
}

@media screen and (max-width: 970px) {
  .movie-card {
    width: 30vw;
  }

  .movie-specs {
    width: 25vw;
  }
}

@media screen and (max-width: 800px) {
  .movie-card {
    width: 20rem;
  }

  .poster {
    width: auto;
    height: 25rem;
  }

  .movie-specs {
    width: 15rem;
  }

  .movie-title {
    margin: .5rem 0 .5rem 0;
  }
}