.movie-card {
  border: 2pt solid white;
  width: 14rem;
  display: flex;
  flex-direction: column;
  align-items: center
}
.movie-card:hover {
  transition: all .75s;
  transform: scale(1.2);
  box-shadow: 0 0 0 99999px rgba(0, 0, 0, .5);
}

.poster {
  height: 18.5rem;
  width: 12.4rem;
}

.movie-specs {
  align-content: flex-start;
  width: 13vw;
  padding-bottom: 5%;
}

.movie-release,
.movie-rating {
  margin: 0
}

.movie-title {
  border-bottom: 2pt solid white;
}

@media screen and (max-width: 900px) {
  .movie-card {
    width: 30vw;
  }

  .movie-specs {
    width: 25vw;
  }
}

@media screen and (max-width: 750px) {
  .movie-card {
    width: 75vw;
  }

  .poster {
    height: 60vh;
    width: 40.5vw
  }

  .movie-specs {
    width: 65vw;
  }

  .movie-title {
    margin: .5rem 0 .5rem 0
  }
}