.header {
  border-bottom: 2pt solid white;
  width: 100vw;
  padding: 3rem 0rem 1.5rem 0rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header-title {
  font-family: 'Lexend Mega',
  sans-serif;
  font-size: xxx-large;
  width: 100vw;
  padding-left: 2rem;
  margin-bottom: .3rem;
}

@media screen and (max-width: 970px) {
  .header-title {
    font-size: xx-large;
  }
}

@media screen and (max-width: 700px) {
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header-title {
    font-size: x-large;
    text-align: center;
    padding: 0 0 1rem 0;
  }
}