.header {
  border-bottom: 2pt solid white;
  width: 100vw;
  padding: 3rem 0rem 1.5rem 0rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header-title {
  font-family: 'Lexend Mega',
  sans-serif;
  font-size: xxx-large;
  width: 100vw;
  padding: 3rem 0rem 1.5rem 6rem;
  margin-bottom: 1rem;
  border-bottom: 2pt solid white;
}

.tater-img {
  height: 5rem;
  width: auto;
}

@media screen and (max-width: 970px) {
  .header {
    font-size: xx-large;
  }
}

@media screen and (max-width: 700px) {
  .header {
    font-size: x-large;
  }
}